<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ partial "opengraph" . }}
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
    <body class="container mx-auto max-w-6xl py-4 px-6 mb-2 flex flex-col">
	<main class="">
        <article>
        {{ if and (isset .Params "toc") (.Params.toc) }}
        <aside class="hidden lg:block float-right p-0 ml-4">
            <h3 class="mt-0">Table of Contents</h3>
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        <div>
            {{ .Content }}
        </div>
        </article>
    </main>
	{{ partial "footer" . }}
    {{ partial "sidebar.html" . }}
    </body>
</html>

