{{ define "main" }}
    <article>
        <div class="grid grid-cols-2 gap-4 auto-cols-auto">
            <h1 class="font-extrabold mt-6 text-4xl">{{ .Title }}</h1>
            <div class="text-right pt-6">
                <time class="text-2xl mt-6" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time><br/>
                {{ range .Params.categories }}
                <a href="{{ "/blog/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
        </div>
        <div>
            {{ .Content }}
        </div>
        {{ with .Params.tags }}
        <div>
            <ul id="tags">
                {{ range . }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </article>
{{ partial "sidebar.html" . }}
{{ end }}
