<article>
	<h1 class="mb-0 text-4xl mt-6"><a class="no-underline" href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div class="font-bold mb-4" >
        <time class="inline" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ if and (isset .Params "distance") (.Params.distance) }},
        distance: {{ .Params.distance }}km, time: {{ .Params.time}}
        {{ end }}
        {{ if .Params.categories }}
            , tagged: {{ range .Params.categories }}
        <a href="{{ "/blog/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
	<div class="grid grid-flow-col gap-4">
        {{ if isset .Params "image" }}
        <div>
            {{ $image := resources.Get .Params.image }}
            {{ $image = $image.Fit "300x300" }}
            <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"/>
        </div>
        {{ end }}
        <div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
        </div>
	</div>
</article>
