{{ define "main" }}
    {{ if or .Title .Content }}
    <div>
        {{ with .Title }}<h1 class="text-4xl italic mt-6">{{ . }}</h1>{{ end }}
        {{ with .Content }}<div>{{ . }}</div>{{ end }}
    </div>
    {{ end }}
    {{ $distance := 0 }}
    {{ $hasGpxes := false }}

    {{ $metadata := dict }}
    {{ range .Paginator.Pages }}
        {{ if isset .Params "gpx" }}
            {{ $metadata = merge $metadata (dict .Params.gpx (dict "name" .Title "url" .Permalink )) }}
            {{ $hasGpxes = true }}
        {{ end }}
    {{ end }}

    {{ if eq ($hasGpxes) true }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/2.2.0/gpx.min.js" defer></script>
    <div id="mapid"></div>
    <script type="module">
        var map = L.map('mapid');
        const metadata = {{ $metadata | jsonify | safeJS }};
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {

            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 16,
            id: 'mapbox/streets-v11',
            accessToken: '{{ .Site.Params.map_api_key }}'
        }).addTo(map);
        const urls = ['/gpx/{{ .Data.Term }}/_aggregated.gpx'];
        const options = {
          async: true,
          polyline_options: { color: 'red' },
          markers: {
              startIcon: null,
              endIcon: null,
              wptIcons: {},
          }
        };
        var loaded = 0;

        for (const url of urls) {
            let gpx = new L.GPX(url, options).on('addpoint', (e) => {
                if (e.point_type === 'waypoint') {
                    var meta = metadata[e.point.options.title];
                    if (meta != undefined) {
                        e.point._popup._content = `<a href="${meta.url}">${meta.name}</a>`;
                        return;
                    }
                }
            }).addTo(map).on('loaded', (e) => {
              loaded++;
              if (loaded == urls.length) {
                  map.fitBounds(e.target.getBounds());
              }
            });
        };

    </script>
    {{ end }}

    {{ range .Paginator.Pages }}
        {{ .Render "summary" }}
        {{ if isset .Params "distance" }}
            {{ $distance = add $distance .Params.distance }}
        {{ end }}
    {{ end }}

    {{ partial "pagination.html" . }}
    {{ if gt $distance 0 }}
    <p class="mt-4 bg-yellow-200 block rounded-sm p-4">{{ math.Round $distance }}km of achievement on this page!</p>
    {{ end }}
{{ partial "sidebar.html" . }}
{{ end }}
