article h3.subtitle {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    color: #888;
}

article h2 {
    font-size: 1.5em;
}

small {
    display: block;
    color: #888;
}

main.container, footer.container {
    max-width: 900px;
}

footer.container {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px dashed #aaa;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}

@media (min-width: 980px) {
    body {
        padding-bottom: 40px;
    }
}

body > main.container {
    padding: 10px 15px 0; /* 80px to make the container go all the way to the bottom of the topbar */
}

blockquote p:before {
    content: "> ";
    color: #aaa;
    font-weight: bold;
    font-size: 1.25em;
}
blockquote p {
    padding: 0.5em;
}
blockquote {
    background-color: #eee;
    font-style: italic;
    font-weight: bold;
}

.date {
    font-family: monospace;
    color: #333;
}
a.dull-link:visited,a.dull-link:visited,a.dull-link:active   {
    color: #555;
}

img.image-right {
    float: right;
    padding: 0em 1em;
}

img.image-left {
    float: left;
    padding: 0em 1em 0em 0em;
}
