@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
body {
    font-family: Merriweather;
    font-size: 1.1em;
    line-height: 1.5em;

}
small {
    display: block;
    color: #888;
}

blockquote p:before {
    content: "> ";
    color: #aaa;
    font-weight: bold;
    font-size: 1.25em;
}
blockquote p {
    padding: 0.5em;
}
blockquote {
    background-color: #eee;
    font-style: italic;
    font-weight: bold;
}

.date {
    font-family: monospace;
    color: #333;
}
a.dull-link:visited,a.dull-link:visited,a.dull-link:active   {
    color: #555;
}

article img {
    display: block;
    margin: 0 auto;
    max-width: 1140px;
}

img + em {
    text-align: center;
    display: block;
    margin: 0 auto;
}
img.image-right {
    float: right;
    padding: 0em 1em;
}

img.image-left {
    float: left;
    padding: 0em 1em 0em 0em;
}
#mapid { height: 380px; }
