@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

div.callout a {
    @apply text-blue-100;
}
div.callout code {
    color: #ff748b;
}

body {
    @apply font-serif;
}

p code, li code {
    @apply text-pink-500 font-bold;
}

a {
    @apply underline;
    @apply text-blue-900;
}

div.highlight pre {
    @apply rounded-lg;
}

article {
    @apply text-lg tracking-wide;
}

article p img {
    @apply block m-auto shadow shadow-lg;
    @apply p-4 pb-10;
    @apply mb-2;
}

article h2 {
    @apply text-4xl mt-6 mb-4 text-gray-700;
}
article h3 {
    @apply text-2xl mt-4 mb-4 text-gray-700;
}
article h4 {
    @apply text-xl mt-4;
}

img + em {
    @apply block;
    @apply m-auto;
    @apply text-center;
    margin-top: -2.5rem;
    margin-bottom: 3.5rem;
}

p {
    @apply mb-2
}

.highlight pre {
    padding: 1rem;
    @apply overflow-scroll;
    @apply mb-2 text-base;
}

ul {
    @apply list-disc list-inside ml-4 mb-4 mt-4;
}
#mapid { 
    @apply m-4;
    height: 380px; 
}
#gpx { 
    @apply m-4;
    height: 380px; 
}

blockquote {
    @apply bg-gray-100 p-4 mt-4 mb-4;
    @apply rounded-lg;
    @apply shadow-lg;
}

.cv section {
}

table {
    layout: fixed;
    margin: 2em 0em;
}
table th, td {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    text-align: left;
}
table th {
    background-color: #eee;
}

a.footnote-ref::before {
    content: '[';
}

.footnotes hr {
    height: 4px;
    color: red;
    border-width: 10px;
    border-style: dotted;
    margin: 2em 0em 2em 0em;
}

.footnotes ol {
    margin-left: 1em;
    list-style-type: decimal;
}

a.footnote-ref::after {
    content: ']';
}

.mastodon-comment {
  background-color: var(--block-background-color);
  border-radius: var(--block-border-radius);
  border: 1px solid;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  padding: 20px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  font-size: var(--font-size);
}
.mastodon-comment p {
  margin-bottom: 0px;
}
.mastodon-comment .author {
  padding-top:0;
  display:flex;
}
.mastodon-comment .author a {
  text-decoration: none;
}
.mastodon-comment .author .avatar img {
  margin-right:1rem;
  min-width:60px;
  border-radius: 5px;
}
.mastodon-comment .author .details {
  display: flex;
  flex-direction: column;
}
.mastodon-comment .author .details .name {
  font-weight: bold;
}
.mastodon-comment .author .details .user {
  color: #5d686f;
  font-size: medium;
}
.mastodon-comment .author .date {
  margin-left: auto;
  font-size: small;
}
.mastodon-comment .content {
  margin: 15px 20px;
}
.mastodon-comment .attachments {
  margin: 0px 10px;
}
.mastodon-comment .attachments > * {
  margin: 0px 10px;
}
.mastodon-comment .content p:first-child {
  margin-top:0;
  margin-bottom:0;
}
.mastodon-comment .status > div {
  display: inline-block;
  margin-right: 15px;
}
.mastodon-comment .status a {
  color: #5d686f;
  text-decoration: none;
}
.mastodon-comment .status .replies.active a {
  color: #003eaa;
}
.mastodon-comment .status .reblogs.active a {
  color: #8c8dff;
}
.mastodon-comment .status .favourites.active a {
  color: #ca8f04;
}
