{{ if .Page.Params.gpx_info }}
<table class="table-fixed w-full">
    <tr>
        <th>Start / end</th>
        <td><span id="gpx_start_time"></span> / <span id="gpx_end_time"></span></td>
        <th>Distance</th>
        <td><span id="gpx_distance_km"></span>km <span id="gpx_distance_miles"></span></td>
    </tr>
    <tr>
        <th>Moving time</th>
        <td><span id="gpx_moving_time"></span><span id="gpx_total_time"></span></td>
        <th>Elevation</th>
        <td><span id="gpx_elevation_gain"></span></td>
    </tr>
</table>
{{ end }}
<div id="mapid"></div>
<script type="module">
    var map = L.map('mapid');
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {

        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 16,
        id: 'mapbox/streets-v11',
        accessToken: 'pk.eyJ1IjoiZGFudGxlZWNoIiwiYSI6ImNqeGhqeHlhZDA4Y2UzdG1uMnNpbzM0amQifQ.x8iRgnISRZPon1DFkiXoFw'
    }).addTo(map);
    const url = '{{ .Params.gpx }}';
    const options = {
      async: true,
      polyline_options: { color: 'red' },
    };

    const gpx = new L.GPX(url, options).on('loaded', (e) => {
      map.fitBounds(e.target.getBounds());
    }).addTo(map).on('loaded', (e) => {
        set_stat('distance_km', (e.target.get_distance() / 1000).toLocaleString(undefined));
        set_stat('start_time', format_time(e.target.get_start_time()));
        set_stat('end_time', format_time(e.target.get_end_time()));
        //set_stat('moving_time', e.target.get_moving_time());
        set_stat('total_time', e.target.get_total_time() / 1000 / 60 / 60);
        set_stat('elevation_gain', e.target.get_elevation_gain());
    });

    function format_time(date) {
        return date.getHours() + ":" + date.getMinutes();
    }

    function set_stat(name, value) {
        document.getElementById('gpx_' + name).textContent = value
    }
</script>
{{ if .Params.map_label }}
<center><i>{{ .Params.map_label }}</i></center><br/>
{{ end }}



