{{ define "main" }}
    {{ partial "nextprev.html" . }}
    <article>
        <div class="grid grid-cols-4 mb-8">
            <div class=" col-span-3">
                <h1 class="font-extrabold mt-6 text-4xl">{{ .Title }}</h1>
                {{ if (ne .Page.Lastmod  .Date) }}
                <i>Last modified {{ .Page.Lastmod.Format "2006/01/02 15:04" }}</i>
                {{ end }}

            </div>

            <div class="text-right pt-6 col-span-1 hidden sm:block">
                <time class="text-2xl mt-6" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time><br/>
                {{ range .Params.categories }}
                <a href="{{ "/blog/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
        </div>
        {{ if and (isset .Params "distance") (.Params.distance) }}
        <div>
            <table class="table-fixed w-full">
                <tbody>
                    <tr class="border-b-2">
                        <th class="text-left">Distance</th>
                        <td class="text-left">{{ .Params.distance }}km</td>
                    </tr>
                    {{ if (isset .Params "time") }}
                    <tr class="border-b-2">
                        <th class="text-left">Time</th>
                        <td>{{ .Params.time}}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        {{ end }}
        {{ if isset .Params "geopoints" }}
            {{ partial "map.html" . }}
            <hr/>
        {{ end }}
        {{ if and (isset .Params "toc") (.Params.toc) }}
        <aside class="hidden lg:block float-right p-0 ml-4">
            <h3 class="mt-0">Table of Contents</h3>
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        <div>
            {{ .Content }}
        </div>
        {{ with .Params.tags }}
        <div>
            <ul id="tags">
                {{ range . }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </article>
    {{ partial "nextprev.html" . }}
{{ end }}
